@media (max-width: 767px) { 
	body{
		//margin-top:20px;
	}
	.dropdown.custom:hover .dropdown-menu {
	  visibility: visible;
	  display:block;
	  border-radius:0;
	}
	.modal-dialog{
		margin:60px auto !important;
	}
}


.modal-dialog {
	z-index: 2000;
}

.searchList .dataTable tr{
	cursor:pointer;
}

.dataTable th, .datatable td { white-space: nowrap; }
    
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
    overflow-x:auto !important;
}

.searchList{
	margin-bottom:40px;
}

html {
    //overflow: scroll;
    //overflow-x: hidden;
}

h2#chartDescription{
	margin-top:10px;
}

.intro-header{
	margin-top:-20px;
}

#plans{
	margin:60px 0 40px 0;
}

.dashboard.container{
	width:100% !important;
}

#suitecharts-dropdown{
	
}