<template name="Dialogue_AddSavedSearch">
	<div class="modal fade" id="addSavedSearchModal" tabindex="-1" role="dialog" aria-labelledby="addSavedSearchModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h2 class="modal-title" id="addSavedSearchModalLabel">Add a new Chart</h2>
  				<p>Please enter:
  					<ul>
  						<li>The Internal ID of a Saved Search (from NetSuite)</li>
  						<li>A description of the Chart/Saved Search</li>
  					</ul>
					</p>
	      </div>
        <form class="do-add-saved-search" role="form" action="#">
	      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Saved Search Internal ID:</label>
            <input type="text" class="form-control" id="saved-search-id" placeholder="e.g. 493, or customsearch584" required="required">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Description:</label>
            <input type="text" class="form-control" id="saved-search-description" required="required">
          </div>
	      </div> 
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="submit" class="btn btn-primary">Add Chart</button>
	      </div>
        </form>
	    </div>
	  </div>
	</div>
</template>