<template name="Dialogue_PromoteUser">
	<div class="modal fade" id="promoteUserModal" tabindex="-1" role="dialog" aria-labelledby="promoteUserModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h2 class="modal-title" id="promoteUserModalLabel">Promote another user to <span class="role-span"></span></h2>
  				<p>Please enter:
  					<ul>
  						<li>The other user's email address</li>
  					</ul>
					</p>
	      </div>
        <form class="do-promote-user" role="form" action="#">
	      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Email Address:</label>
            <input type="email" class="form-control" id="user-email" required="required">
          </div>
	      </div>
	      
	      <input type="hidden" id="role" required="required">

	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="submit" class="btn btn-primary">Promote User</button>
	      </div>
        </form>
	    </div>
	  </div>
	</div>	
</template>