<template name="Header_Charts_Cog_Dropdown">
	<div class="dropdown navbar-brand" id="chart-options">
		<div class="btn btn-lg dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		</div>
		<ul class="dropdown-menu" role="menu">
			<li class="chartOptions"><a href="#" data-chart-type="line">Line Chart</a></li>
			<li class="chartOptions"><a href="#" data-chart-type="bar">Bar Chart</a></li>
			<li class="chartOptions"><a href="#" data-chart-type="pie">Pie Chart</a></li>
			<li class="chartOptions"><a href="#" data-chart-type="scatter">Scatter Plot</a></li>
			<li class="divider chartOptions"></li>
			<li><a id="refreshButton" href="#" data-action="refresh-chart">Refresh Data</a></li>
		</ul>
	</div>
</template>