<template name="Header">
	<div name="suitenavbar">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					{{#if isActiveRoute regex="charts"}}
						{{> Header_Charts_Cog_Dropdown }}
					{{/if}}
					<a class="navbar-brand" href="/"><b>Suite</b>Charts</a>

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="main-nav">
					{{#if isInRole "client"}}
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Charts <b class="caret"></b></a>
							<ul class="dropdown-menu">
								
								{{#if savedSearches}}
									<li class="{{isActiveRoute regex='searchList'}}">
										<a data-toggle="collapse" data-target=".navbar-collapse" href="{{pathFor 'searchList'}}" disabled="disabled">Show All</a>
									</li>
									<li class="divider"></li>
									{{#each savedSearches}}
										<li class="{{isActiveRoute regex=searchId}}">
											<a data-toggle="collapse" data-target=".navbar-collapse" href="{{pathFor 'charts' searchId=searchId}}">
											{{#if description}}{{description}}{{else}}Search {{searchId}}{{/if}}
											</a>
										</li>
									{{/each}}
									<li class="divider"></li>
								{{/if}}
								<li>
									<a data-toggle="collapse" data-target=".navbar-collapse" href="#" class="show-add-saved-search-dialog">Add a Chart</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="/dashboard">Dashboard</a></li>
					</ul>
					{{/if}}
					
					{{#if isInRole "admin" }}
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a data-toggle="collapse" data-target=".navbar-collapse" href="#" class="promote-user-to-role" data-new-role="client">
										Promote user to "client"
									</a>
								</li>
								<li>
									<a data-toggle="collapse" data-target=".navbar-collapse" href="#" class="promote-user-to-role" data-new-role="admin">
										Promote user to "admin"
									</a>
								</li>
							</ul>
						</li>
					</ul>
					{{/if}}
					<ul class="nav navbar-nav navbar-right">
						{{#if isInRole "client" }}
					    	{{else}}
							<li><a href="/">Home</a></li>
							<li><a class="learnMoreButton" href="#">Features</a></li>
							<li><a class="plansButton" href="#">Pricing</a></li>
							<li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">How it works<span class="caret"></span></a>
					          <ul class="dropdown-menu">
					            <li><a href="#">Setup and Install</a></li>
					            <li><a href="#">Saved Search Data</a></li>
					            <li><a href="#">Displays &amp; Kiosks</a></li>
					          </ul>
					        </li>
					        <li><a href="#" data-toggle="modal" data-target="#contactModal">Contact</a></li>
						{{/if}}	
						{{> loginButtons}} <!-- here -->
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</div>
</template>