<template name="deleteButton">
	<div class="text-center">
		<button type="button" class="btn-block close" data-search-id={{searchId}}>
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Delete Search</span>
		</button>
	</div>
</template>