<template name="SearchList">
	<div id="page-wrapper" class="searchList container">
		{{#if isInRole "client"}}
		<h2 id="chartDescription">My Charts</h2><br>
			{{> ReactiveDatatable tableData=savedSearches options=tableOptions }}
			
			<div class="text-center">
				<div class="btn btn-primary h4 show-add-saved-search-dialog">
					<span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
					Add a new Chart
				</div>
			</div>
		{{else}}
			<p class="large">Sorry, we aren't showing an active account for you. Please contact us to setup your account at <a href="mailto:orders@Suitecharts.com">Orders@SuiteCharts.com</a></p>
		{{/if}}
		{{#if isInRole "admin" }}
			<div class="container">
	        	{{> accountsAdmin}}
	    	</div>
		{{/if}}	
	</div>
</template>


