<template name="AppLayout">
	{{> Header }}
	
	{{> yield }}

	{{> Dialogue_AddSavedSearch }}

	{{#if isInRole "admin" }}
		{{> Dialogue_PromoteUser }}
	{{/if}}
	<script>
		$(function() {
			//hide the navbar if its on a dashboard
	   		var isInIFrame = (window.location != window.parent.location);
			if(isInIFrame==true){
			    // iframe
			    $('.navbar').hide();
			}
			else {
			    // no iframe
			}
	 	});
	</script>

</template>

<template name="Loading">
	<div style="display:block;margin:0 auto;float:none">
		{{> spinner}}
	</div>
</template>