<template name="Login">
  <div class="homeWrap">
	<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <img style="margin: 0 auto;" class="img-responsive" src="/img/logo.png" />
                        <h3>Real Time NetSuite Data - Anywhere.</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#" class="btn btn-default btn-lg learnMoreButton"><span class="network-name">Learn More</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg plansButton"><span class="network-name">Pricing</span></a>
                            </li>
                            <li>
                                <a id="contactButton" href="#" data-toggle="modal" data-target="#contactModal" class="btn btn-default btn-lg"><span class="network-name">Contact Us</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a id="features" name="features"></a>
    <div class="content-section-a">
        <div class="container">
        	 <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Display your data where you need it.</h2>
                    <p class="lead">SuiteCharts lets you display real time (no refreshing needed) NetSuite data on HUD monitors, on your phone, or at your desk. Display daily sales goals or warehouse work orders that your entire team can see.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/img/manuf_tasks.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

     <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Data outside of NetSuite.</h2>
                    <p class="lead">SuiteCharts doesn't run inside NetSuite, so you don't need to be logged in. Any employee or individual can log into SuiteCharts and see the reports and saved search data, never logging into NetSuite itself.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img style="margin:0 auto;dislay:block;" class="img-responsive" src="/img/data.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Scales with your business.</h2>
                    <p class="lead">Since SuiteCharts uses the Saved Searches you already have in NetSuite, it's easy to start using, and extend it across your entire enterprise. SuiteCharts simply grabs the data from NetSuite and shows it to you in a fast and familiar interface.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/img/monitor2.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
<div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">One of a kind moile application.</h2>
                    <p class="lead">You current access to data is limited, difficult, and not mobile friendly. SuiteCharts is a unique mobile application that lets you make business decisions based on real time data. We utilize your already created Saved Searches and reports. We can also work with you to create custom reports to satisfy your business needs.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img style="margin:0 auto;dislay:block;" class="img-responsive" src="/img/single-iphone.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Instantly Updating Data</h2>
                    <p class="lead">When data is updated on NetSuite, the data changes instantly on SuiteCharts with no refresh and no screen blinking. Real time data as it happens. </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/img/shot.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


<div class="content-section-b">

        <div class="container">
    <div class="row">
            <div class="col-lg-12" >
                <div class="well text-center clearfix">
                    <h1>30 Day Free Trial!</h1>
                    <p class="lead">Try SuiteCharts for 30 days and see if it improves your business intelligence and analytics. We won't charge your account until after the 30 days are up. Cancel at anytime.</p>
                    <div class="col-lg-2" style="float:none;margin:10px auto 0 auto">
                        <a id="signup1" class="btn btn-lg btn-block btn-danger" href="#signup">Sign Up!</a>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
      </div>
    </div>

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect with SuiteCharts</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/suitecharts" class="btn btn-default btn-lg"> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://facebook.com/suitecharts" class="btn btn-default btn-lg"><span class="network-name">Facebook</span></a>
                        </li>
                        <!--li>
                            <a href="#" class="btn btn-default btn-lg"><span class="network-name">Linkedin</span></a>
                        </li-->
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->


    </div>
    <!-- /.banner -->

    <!-- Plans -->
    
        <section id="plans">
    	<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-info">
       <div class="panel-heading"><h3 class="text-center">Small Business Plan</h3></div>
       <div class="panel-body text-center">
         <p class="lead" style="font-size:40px"><strong>$200 /month</strong></p>
       </div>
       <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 5 Saved searches</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited monitors and devices</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited users</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 24/7 support</li>
       </ul>
       <div class="panel-footer">
         <a id="signupSmallBiz" class="btn btn-lg btn-block btn-danger" href="#signup">Sign Up!</a>
	    </div><!--/panel-footer-->
      </div><!--/panel-->
    </div><!--/col-->
    <div class="col-md-4">
      <div class="panel panel-info">
       <div class="panel-heading"><h3 class="text-center">Medium Business Plan</h3></div>
       <div class="panel-body text-center">
         <p class="lead" style="font-size:40px"><strong>$400 /month</strong></p>
       </div>
       <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 20 Saved searches</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited monitors and devices</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited users</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 24/7 support</li>
       </ul>
       <div class="panel-footer">
         <a id="signupProPlan" class="btn btn-lg btn-block btn-danger" href="#signup">Sign Up!</a>
	    </div><!--/panel-footer-->
      </div><!--/panel-->
    </div><!--/col-->
    <div class="col-md-4">
      <div class="panel panel-info">
       <div class="panel-heading"><h3 class="text-center">Enterprise Plan</h3></div>
       <div class="panel-body text-center">
         <p class="lead" style="font-size:40px"><strong>$1000 /month</strong></p>
       </div>
       <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited Saved searches</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited monitors and devices</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited users</li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> 24/7 support</li>
       </ul>
       <div class="panel-footer">
         <a id="signUpEnterprise" class="btn btn-lg btn-block btn-danger" href="#signup">Sign Up!</a>
	    </div><!--/panel-footer-->
      </div><!--/panel-->
    </div><!--/col--> 
  </div><!--/row-->
</div>
</section><!--/container-->
    
    <!-- /Plans -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/">Team</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#contactModal">Contact</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="mailto:info@suitecharts.com">info@suitecharts.com</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; MG Limited 2014-2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="Contact SuiteCharts">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
		        <h3 style="float:left;" class="modal-title" id="exampleModalLabel">Contact SuiteCharts</h3>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
	      <div class="modal-body">
	        {{>contactForm}}
	      </div>
	    </div>
	  </div>
	</div>
	</div>
</template>
