<template name="Dashboard">
	<div id="page-wrapper" class="container dashboard">
	
	<div class="" style="width:30%;float:left;display:block;">
		<iframe id="frame1" width="100%" src="/charts/1564" seamless='seamless' frameBorder="0" style="border:0;float:left;display:block;">

		</iframe>
		<iframe id="frame3" width="100%" src="/charts/480" seamless='seamless' frameBorder="0" style="border:0;float:left;display:block;">

		</iframe>
	</div>
	<iframe id="frame2" width="70%" src="/charts/1559" seamless='seamless' frameBorder="0" style="border:0;float:left;display:block;">

	</iframe>
	<script>
	$(function() {
   		window.updateIframe = function() {
     		var h = $(window).height();
     		var half = (h/2);
     		$("#frame1").height(half - 20);
     		$("#frame2").height(h - 20);
     		$("#frame3").height(half - 20);
		}
   		window.updateIframe();
 	});

	
	</script>
	</div>
</template>
