<template name="_NetsuiteLogin">
	<div id="page-wrapper" class="container">
		<div class="panel panel-default login-box">
		    <div class="panel-heading">
				<h1>NetSuite Account Information</h1>
				<p class="lead">Please enter the following for your NetSuite account.</p>
		    </div>
		    <div class="panel-body">
				{{#if settingsAlreadyValid}}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert">
				  		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			  		</button>

					<strong>Note:</strong> You already have working NetSuite settings. Choosing save here will overwrite all the settings you already have saved.
				</div>
				{{/if}}
		        <form accept-charset="UTF-8" role="form" id="netsuite-login-form" method="post">
		            <fieldset>
		            	<div class="form-group">
		                    <input class="form-control" placeholder="NetSuite Company ID" name="account" id="account">
		                </div>
		                <div class="form-group">
		                    <input class="form-control" placeholder="NetSuite Login Email" name="email" id="email" type="email">
		                </div>
		                <div class="form-group">
		                    <input class="form-control" placeholder="NetSuite Password" name="password" id="password" type="password" value="">
		                </div>
		                <div class="form-group">
		                    <input class="form-control" placeholder="RESTlet Deployment URL" name="restlet" id="restlet" value="">
		                </div>
		                <input class="btn btn-lg btn-info btn-block" type="submit" value="Save">
		            </fieldset>
		        </form>
		    </div>	
		</div>
	</div>
</template>